:root {
	--text-color: #ffffff;
	/* Dark gray for text */
	--background-color: #1a1a1d;
	--background-gradient-color: #2b2b2f;
	/* Light gray for background */
	--primary-color: #c3073f;
	/* Blue for primary elements */
	--accent-color: #950740;
	/* Red for accent elements */
}

/* Global styles */
body {
	font-family: 'Ubuntu', sans-serif;
	background: linear-gradient(var(--background-color), var(--background-gradient-color));
	color: var(--text-color);
	margin: 0;
	display: flex;
	justify-content: center;
	height: 100vh;
}



#app {
	border-radius: 10px;
	border: var(--accent-color) 4px solid;
	width: 80%;
	display: flex;
	align-items: center;
	margin: 20px;
	flex-direction: column;
}

/* Search container */
.search-panel {
	margin-top: 20px;
	text-align: center;
	width: 60%;

}

/* Search input */
.search-input {
	font-size: 1.5em;
	padding: 10px;
	border: 1px solid var(--accent-color);
	border-radius: 5px;
	background-color: transparent;
	color: var(--text-color);
	margin-bottom: 10px;
	transition: border-color 0.3s ease;
	width: 100%;
	text-align: center;

}

.search-input:focus {
	border-color: var(--accent-color);
	outline: none;

}

list {
	list-style-type: none;
	
}
.quickSearch-panel{
	display: flex;
	flex: row;
	gap: 10px;
}
.quickSearch-item{
	border: 2px var(--primary-color) solid;
	margin: 5px 0 5px 0;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.3s;
}
.list-item {
	display: flex;
	width: 100%;
	border: 2px var(--primary-color) solid;
	margin: 5px 0 5px 0;
	padding: 10px;
	border-radius: 10px;
	transition: all 0.3s;
	
}

.list-item:focus {
	background-color: #c3073f;
}

/* Search button */
.search-button {
	padding: 10px;
	background-color: var(--accent-color);
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	width: 50%;
}

.search-button:hover {
	background: linear-gradient(var(--accent-color), var(--primary-color));
	/* Darker shade on hover */
}

/* Media query for mobile phones */
@media (max-width: 600px) {
	.search-panel {
		flex-direction: column;
		text-align: center;
	}

	.search-input {
		margin-right: 0;
		margin-bottom: 10px;
	}
}